

body{

    background-image: url(../images/background.jpg);
    background-size: cover;
    padding-top: 30px;

}
.header{
    font-size: larger;
    color: white;
  
}
.header>span{
    margin-left: 30px;
    margin-top: 100px;
}

.container{
 
}
.footer{
 
}

.header_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: end;

}